# macOS
.DS_Store

# Xcode
DerivedData/
.derivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.xcodeproj
*.xcworkspace
Projects/**/*.xcodeproj
Projects/**/Derived/

# Swift Package Manager
.build/
Package.resolved

# Tuist
Tuist/.build/
Tuist/Dependencies/
Derived/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# CocoaPods
Pods/

# Ruby
.bundle/

# Local files
.env
.env.*
